extends layout

                  
block content
  h1= title
  p Welcome to #{title}
  table
   thead
     tr
     th(scope="col") Applicant id
     th(scope="col") Applicant name
     th(scope="col") Summary
     th(scope="col") More
     tbody

      each applicant in applicant_list
       tr
        td #{applicant.id}
        td #{applicant.full_name}
        td #{applicant.summary}
        td 
         a(href='/applicants/view?='+applicant.id) Read more